<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8"></meta>
    <title>工作组管理</title>
    
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" type="../text/css"
	href="../easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="../easyui/demo.css">
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/colResizable-1.3.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/classes.js"></script>
<script type="text/javascript">

function change_company(){
	$("#department").html("<option value=''>&nbsp;&nbsp;&nbsp;&nbsp;全部&nbsp;&nbsp;&nbsp;&nbsp;</option>");
	var sel = document.getElementById("company");
	var selected_val = sel.options[sel.selectedIndex].value;
	if(selected_val!=""){
		$.ajax({
			url:"/gtgx/departmentByCompany",
			data: {company_id:selected_val},
			type:"post",
			dataType:"json",
			success:function(data){
				var departmentList='';
				for(i=0;i<data.length;i++){
					departmentList+="<option value='"+data[i].id+"' >&nbsp;&nbsp;&nbsp;&nbsp;"+data[i].dname+"&nbsp;&nbsp;&nbsp;&nbsp;</option>"
					}
				$("#department").append(departmentList);
			}
	});
	}
}

$(function(){
	$(".shanchu").click(function(){
		var id = $(this).attr('id');
		if(confirm("确认删除么？")){
			$.ajax({
				url:"/gtgx/checkDelete",
				type:"post",
				data:{group_id:id},
				dataType:"text",
				success:function(e){
				if(e>0){
					alert("此工作组下有关联信息,无法删除");
				}else{
					$.ajax({
						url:"/gtgx/deleteGroupById",
						data: {id:id},
						type:"post",
						dataType:"json",
						success:function(data){
							if (data>0){
								alert("删除成功");
								location="/gtgx/getAllGroup?pageindex=1";
							}
						}
					});
				}
				}
			});
	};
});
});
	
</script>
</head>
  <body>
    <div style="float:left;height: 36px">
    <form action="/gtgx/getAllGroup?pageindex=1" method="post">
     <span class="span_common">公司：</span>
     <select name="company_id" class="select" id="company" onchange="change_company();"> 
    							<option value="">全部</option>
                  				<#list page.params.companyList as companyList>
                  				<option value="${(companyList.id)!"" }"  <#if companyList.id == page.params.company_id> selected="selected"</#if> >${companyList.cname }</option>
                  				</#list>
   </select>&nbsp;&nbsp;&nbsp;&nbsp;
   
<span class="span_common">部门：</span>
     <select name="department_id" class="select" id="department" > 
    							<option value="">全部</option>
                  				<#list page.params.departmentList as departmentList>
                  				<option value="${(departmentList.id)!"" }"  <#if departmentList.id == page.params.department_id> selected="selected"</#if> >${departmentList.dname }</option>
                  				</#list>
   </select>  &nbsp;&nbsp;&nbsp;&nbsp;
    
    
    <span class="span_common">工作组名称：</span><input type="text" name="key" value="${(page.params.key)!""}" class="input-text lh30" size="20">&nbsp;&nbsp;&nbsp;&nbsp;
  
  
  
  <input type="submit" name="button"
		class="submit_common" value="搜索">
		</form></div>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/gtgx/goAddGroup"><input type="button" name="button"
		class="add_button" value="新增"></a>
	
  
   <table border="0" cellpadding="0" cellspacing="0" class="list_table" style="text-align: center;">
		<thead>
			<tr>
				<th align="center" class="tableHeader">工作组名称</th>
				<th align="center" class="tableHeader">所属部门</th>
				<th align="center" class="tableHeader">所属公司</th>
				<th align="center" class="tableHeader">备注</th>
				<th align="center" class="tableHeader">操作</th>
			</tr>
			<#list page.data as groupList>
			<tr>
			<td>${groupList.name}</td>
			<td>${groupList.dname }</td>
			<td>${groupList.cname }</td>
			<td>${groupList.remark }</td>
			<td>
				<button class="button_common">
					<a href="/gtgx/getGroupById?id=${groupList.id }">
						<span class="button_span_common">编辑</span>
					</a>
				</button>&nbsp;
				<button class="button_common">
					<a href="javascript:void(0)">
						<span class="button_span_common shanchu" id="${groupList.id }">删除</span>
					</a>
				</button>&nbsp;
			 </td>
			</tr>
			</#list>
		</thead>
	</table>
	
		<div style="margin-top:5px;margin-left:5px" class="pagination">
	<ul>
		<span class="noprint" style="padding:5px;">
		
			<li><a href="/gtgx/getAllGroup?pageindex=1&key=${(page.params.key)!''}">[首页]</a></li>&nbsp;
			
			<li><a href="/gtgx/getAllGroup?pageindex=${(page.params.lastpage)!''}&key=${(page.params.key)!''}">[上一页]</a></li>&nbsp;
			
			<li><a href="/gtgx/getAllGroup?pageindex=${(page.params.nextpage)!''}&key=${(page.params.key)!''}">[下一页]</a></li>&nbsp;

			<li><a href="/gtgx/getAllGroup?pageindex=${page.totalPagecount}&key=${(page.params.key)!''}">[末页]</a></li>&nbsp;
				<li style="height:0px;border:0px;background-color:#fff"></li>
				<li><a style="color:red">第${page.pageindex}页，共${page.totalPagecount}页</a></li>
				<li><a style="color:#0072E3">共${page.recordCount}条</a></li>
		</span>
	</ul>
</div>
</div> 
		
		
  </body>
</html>