<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8"></meta>
    
    <title>addFactory</title>
    
	<link rel="stylesheet" href="../css/common.css">
   <link rel="stylesheet" href="../css/main.css">
   <script type="text/javascript" src="../js/jquery.min.js"></script>
   <script type="text/javascript" src="../js/colResizable-1.3.min.js"></script>
   <script type="text/javascript" src="../js/common.js"></script>
   <script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script> 
<script type="text/javascript" src="../js/jquery.form.js"></script> 
  <script type="text/javascript">
  $(function(){
   
   
});
  
  
   </script> 
  </head>
  <body>
        <div class="box">
          <div class="box_border">
            <div class="box_top"><b class="pl15">安全防护信息管理(配电室)</b></div>
            
                <div style="width: 350px;height: 350px;margin: auto;" >
                <div style="width: 350px;height: 350px;">
               <img id="downimg" src="http://192.168.0.50:21112/work/Tomcat/localhost/ROOT/QrCode/switchingroom.jpg" alt="二维码"  style="width: 350px;height: 350px;" >
             	</div>
             	<div style="padding-left: 125px;">
             	 <a href="/gtgx/downQrCodeSwitchingroom?url=http://192.168.0.50:21112/work/Tomcat/localhost/ROOT/QrCode/switchingroom.jpg">
			    <input type="button" class="btn btn82 btn_save2" value="下载">
                 </a>
                 </div >
               </div>
               
               
          </div>
        </div>
  </body>
</html>
            



