<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8"></meta>
    <title>智运行后台管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/style.css">
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.SuperSlide.js"></script>
<script type="text/javascript">
	$(function() {
		$(".sideMenu").slide({
			titCell : "h3",
			targetCell : "ul",
			defaultIndex : 0,
			effect : 'slideDown',
			delayTime : '500',
			trigger : 'click',
			triggerTime : '150',
			defaultPlay : true,
			returnDefault : false,
			easing : 'easeInQuint',
			endFun : function() {
				scrollWW();
			}
		});
		$(window).resize(function() {
			scrollWW();
		});
	});
	function scrollWW() {
		if ($(".side").height() < $(".sideMenu").height()) {
			$(".scroll").show();
			var pos = $(".sideMenu ul:visible").position().top - 38;
			$('.sideMenu').animate({
				top : -pos
			});
		} else {
			$(".scroll").hide();
			$('.sideMenu').animate({
				top : 0
			});
			n = 1;
		}
	}
	var urlstr = location.href;
	var urlstatus = false;
	$("#nav a").each(
			function() {
				if ((urlstr + '/').indexOf($(this).attr('href')) > -1
						&& $(this).attr('href') != '') {
					$(this).addClass('curument');
					urlstatus = true;
				} else {
					$(this).removeClass('curument');
				}
			});
	if (!urlstatus) {
		$("#nav a").eq(0).addClass('curument');
	}

	var n = 1;
	function menuScroll(num) {
		var Scroll = $('.sideMenu');
		var ScrollP = $('.sideMenu').position();
		/*alert(n);
		alert(ScrollP.top);*/
		if (num == 1) {
			Scroll.animate({
				top : ScrollP.top - 38
			});
			n = n + 1;
		} else {
			if (ScrollP.top > -38 && ScrollP.top != 0) {
				ScrollP.top = -38;
			}
			if (ScrollP.top < 0) {
				Scroll.animate({
					top : 38 + ScrollP.top
				});
			} else {
				n = 1;
			}
			if (n > 1) {
				n = n - 1;
			}
		}
	}

	function selectFunction(text, a) {
		$('#here_area').text("当前位置：" + text);
		$("li").removeClass("on");
		$(a).parent().attr("class", 'on');

	}
</script>
<title>工程过程修改</title>
</head>
<body>

<table class="form_table pt15 pb15" style="width: 90%;padding-left: 200px;height: 65px;" >
	<tr style="height: 30px;">
		<td class="td_right">工程名称：${project.name}</td>
		<td class="td_right">工程类型：${project.type_name}</td>
		<td class="td_right">施工位置：${project.location}</td>
	</tr>
	<tr style="height: 30px;">
		<td class="td_right">施工单位：${project.construction_org}</td>
		<td class="td_right">监理单位：${project.supervising_org}</td>
		<td class="td_right">项目经理：${project.PM}</td>
	</tr>
</table>

	<div class="side" style="background-color:#FFFFFF;">
		<div class="sideMenu" style="margin:0 auto;">
		
		<ul>
				<li><a style="font-size: 18px;" href="/manage/web_project_data?project_id=${course.project_id}" target="course_right"
					onclick="selectFunction('工程基础信息',this)">工程基础信息</a></li>
				<li><a style="font-size: 18px;" href="/manage/web_early_data_ById?project_id=${course.project_id}" target="course_right"
					onclick="selectFunction('工程前期准备',this)">工程前期准备</a></li>
				<li><a style="font-size: 18px;" href="/manage/web_start_data_ById?project_id=${course.project_id}" target="course_right"
					onclick="selectFunction('工程开工阶段',this)">工程开工阶段</a></li>
				<li><a style="font-size: 18px;" href="/manage/web_working_data_ById?project_id=${course.project_id}" target="course_right"
					onclick="selectFunction('工程施工阶段',this)">工程施工阶段</a></li>
				<li><a style="font-size: 18px;" href="/manage/web_before_data_ById?project_id=${course.project_id}" target="course_right"
					onclick="selectFunction('工程预验收',this)">工程预验收</a></li>
				<li><a style="font-size: 18px;" href="/manage/web_check_data_ById?project_id=${course.project_id}" target="course_right"
					onclick="selectFunction('工程验收阶段',this)">工程验收阶段</a></li>
				
				<#if course.log!=null>
				  <li><a style="font-size: 18px;" href="/manage/web_settlement_data_ById?project_id=${course.project_id}&state=2" target="course_right"
					onclick="selectFunction('工程验收阶段',this)">工程结算记录</a></li>
				</#if>
				
		</ul>
		
		
		</div>
	</div>
	<div class="main" style="top: 70px;">
		<iframe name="course_right" frameborder="no" src="${course.url}" scrolling="auto" width="100%" height="auto" allowtransparency="true">
		</iframe>
	</div>
	
</body>

</html>

