<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8"></meta>
    
    <title>addFactory</title>
    
	<link rel="stylesheet" href="../css/common.css">
   <link rel="stylesheet" href="../css/main.css">
 
  </head>
  <body>
  <div class="lbOverlay"></div>
  <div class="hidden_pro_au">
      <p style="text-align: center">上传图片中……</p>
      <progress max="80" id="progress">您的浏览器不支持progress元素</progress>
  </div>


    <div id="forms" class="mt10">
        <div class="box">
          
         <div class="box_border">
            <div class="box_top"><b class="pl15">工程预验收阶段-汇总资料</b></div>
            <div class="box_center">
               <table class="form_table pt15 pb15" style="width:100%" border="1" cellspacing="0" bordercolor="#F8F2F3">
                  <tr>
                  <td class="td_right">预验收单：</td>
                  <td>
                  <span class="before_check_billFileSpan">
                  <#list project.before_check_bill as fileList>
     	 	 <div class="fileDiv" data-name="${fileList.name}">
                  <#if fileList.type?index_of("image")!=-1>
		    	 <a href="${fileList.url}" type="${fileList.type}" target=_blank><img style="width: 70px;height: 70px;" src="${fileList.url}" /></a>
		        <a href="javascript:;" class="remove-file-btn"><img src="/images/gtgx/deleteFile.png" class="deleteFile"/></a>
				  <#else>
		        <a href="${fileList.url}" type="${fileList.type}" target=_blank>${fileList.name}</a>
		        <a href="javascript:;" class="remove-file-btn"><img src="/images/gtgx/deleteFile.png" class="deleteFile"/></a>
                  </#if>
      		 </div>
                  </#list>
                  </span>
                   <input type="file"  id="before_check_billFile"  onchange="addFile(this,'before_check_billFile')"  class="input-text lh30" >
                  </td>
                  </tr>
                  
                  
                  <tr>
                  <td class="td_right">问题清单：</td>
                  <td>
        		<span class="issue_listFileSpan">
                  <#list project.issue_list as fileList>
          <div class="fileDiv" data-name="${fileList.name}">
                  <#if fileList.type?index_of("image")!=-1>
		    	 <a href="${fileList.url}" type="${fileList.type}" target=_blank><img style="width: 70px;height: 70px;" src="${fileList.url}" /></a>
		        <a href="javascript:;" class="remove-file-btn"><img src="/images/gtgx/deleteFile.png" class="deleteFile"/></a>
				  <#else>
		        <a href="${fileList.url}" type="${fileList.type}" target=_blank>${fileList.name}</a>
		        <a href="javascript:;" class="remove-file-btn"><img src="/images/gtgx/deleteFile.png" class="deleteFile"/></a>
                  </#if>
       		</div>
                  </#list>
                  </span>
                 <input type="file"  id="issue_listFile"  onchange="addFile(this,'issue_listFile')"  class="input-text lh30" >
                  </td>
                </tr>
                  	<tr>
                  <td class="td_right">重要问题现场:</td>
                  <td>
                 <span class="problem_spotFileSpan">
                  <#list project.problem_spot as fileList>
          <div class="fileDiv" data-name="${fileList.name}">
                  <#if fileList.type?index_of("image")!=-1>
		    	 <a href="${fileList.url}" type="${fileList.type}" target=_blank><img style="width: 70px;height: 70px;" src="${fileList.url}" /></a>
		        <a href="javascript:;" class="remove-file-btn"><img src="/images/gtgx/deleteFile.png" class="deleteFile"/></a>
				  <#else>
		        <a href="${fileList.url}" type="${fileList.type}" target=_blank>${fileList.name}</a>
		        <a href="javascript:;" class="remove-file-btn"><img src="/images/gtgx/deleteFile.png" class="deleteFile"/></a>
                  </#if>
       		</div>
                  </#list>
                  </span>
                  <input type="file"  id="problem_spotFile"  onchange="addFile(this,'problem_spotFile')"  class="input-text lh30" >
                  </td>
                </tr>
                
                  	<tr>
                  <td class="td_right">参与人员现场或签字表:</td>
                  <td>
                  <span class="ppss_formFileSpan">
                  <#list project.ppss_form as fileList>
          <div class="fileDiv" data-name="${fileList.name}">
                  <#if fileList.type?index_of("image")!=-1>
		    	 <a href="${fileList.url}" type="${fileList.type}" target=_blank><img style="width: 70px;height: 70px;" src="${fileList.url}" /></a>
		        <a href="javascript:;" class="remove-file-btn"><img src="/images/gtgx/deleteFile.png" class="deleteFile"/></a>
				  <#else>
		        <a href="${fileList.url}" type="${fileList.type}" target=_blank>${fileList.name}</a>
		        <a href="javascript:;" class="remove-file-btn"><img src="/images/gtgx/deleteFile.png" class="deleteFile"/></a>
                  </#if>
       		</div>
                  </#list>
                  </span>
                  <input type="file"  id="ppss_formFile"  onchange="addFile(this,'ppss_formFile')"  class="input-text lh30" >
                  </td>
                </tr>
                
                
                <tr>
                  <td class="td_right">其他:</td>
                  
                   <td>
                  <span class="elseFileSpan">
                  <#list project.else as fileList>
          <div class="fileDiv" data-name="${fileList.name}">
                  <#if fileList.type?index_of("image")!=-1>
		    	 <a href="${fileList.url}" type="${fileList.type}" target=_blank><img style="width: 70px;height: 70px;" src="${fileList.url}" /></a>
		        <a href="javascript:;" class="remove-file-btn"><img src="/images/gtgx/deleteFile.png" class="deleteFile"/></a>
				  <#else>
		        <a href="${fileList.url}" type="${fileList.type}" target=_blank>${fileList.name}</a>
		        <a href="javascript:;" class="remove-file-btn"><img src="/images/gtgx/deleteFile.png" class="deleteFile"/></a>
                  </#if>
       		</div>
                  </#list>
                  </span>
                  <input type="file"  id="elseFile"  onchange="addFile(this,'elseFile')"  class="input-text lh30" >
                  </td>
                </tr>
              
                
                 <tr id="tijaioTr">
                   <td class="td_right">&nbsp;</td>
                   <td class="">
                     <input type="button" id="save" class="btn btn82 btn_save2" value="保存">
                     <input type="button" id="submit" class="btn btn82 btn_save2" value="提交" style="margin-left: 50px;"> 
                   </td>
                 </tr>
               </table>
               </form>
            </div>
          </div>
          
        </div>
     </div>
     
  <script type="text/javascript" src="../js/jquery.min.js"></script>
   <script type="text/javascript" src="../js/colResizable-1.3.min.js"></script>
   <script type="text/javascript" src="../js/common.js"></script>
   <script type="text/javascript" src="../js/jquery.form.js"></script> 
	<script type="text/javascript">  
	$(document).ready(function () {
	        //文件删除按钮
	        $(document).on('click','.remove-file-btn',function () {
	        	if(confirm("确认删除么？")){
	        		$(this).closest('.fileDiv').remove();
	        	}
	        })
	        //保存按钮
	        $(document).on('click','#save',function () {
	            submitForm(2);
	        })
	        
	        //提交按钮
	        $(document).on('click','#submit',function () {
	        	if(confirm("确认提交么？提交后将无法修改")){
	        		 submitForm(3);
	        	}
	        })
	    })
    	
    	
    	function submitForm(state){
			var appdata = {};
			appdata.state=state;
            appdata.create_by=${activeAdmin.id};
            appdata.project_id=${param.project_id};
            appdata.before_check_bill= fileToList('before_check_billFileSpan');
            appdata.issue_list= fileToList('issue_listFileSpan');
            appdata.problem_spot= fileToList('problem_spotFileSpan');
            appdata.ppss_form= fileToList('ppss_formFileSpan');
            appdata.else = fileToList('elseFileSpan');
            show();
          //提交数据
            $.ajax({
		        url:'/manage/web_update_before',
		        secureuri:false,
		        traditional:true,
		        contentType:"application/json",
		        type: 'POST',
	            data: JSON.stringify(appdata),
		        dataType: 'json',//返回数据的类型
		        success: function (data) {//添加成功
		            if(data>0){
                        goprogress();
		            }
		        }
		    });
        }
    function show(){
        $(".lbOverlay").css({"height":window.screen.availHeight});
        $(".lbOverlay").show();
        var st=$(document).scrollTop(); //页面滑动高度
        var objH=$(".hidden_pro_au").height();//浮动对象的高度
        var ch=$(window).height();//屏幕的高度
        var objT=Number(st)+(Number(ch)-Number(objH))/2;   //思路  浮动高度+（（屏幕高度-对象高度））/2
        $(".hidden_pro_au").css("top",objT);
        var sl=$(document).scrollLeft(); //页面滑动左移宽度
        var objW=$(".hidden_pro_au").width();//浮动对象的宽度
        var cw=$(window).width();//屏幕的宽度
        var objL=Number(sl)+(Number(cw)-Number(objW))/2; //思路  左移浮动宽度+（（屏幕宽度-对象宽度））/2
        $(".hidden_pro_au").css("left",objL);
        $(".hidden_pro_au").slideDown("20000");//这里显示方式多种效果
    }
    function goprogress(){
        var pro=document.getElementById("progress");
        gotoend(pro,0);
    }
    function gotoend(pro,value){
        var value=value+1;
        pro.value=value;
        if(value<100) {
            setTimeout(function(){gotoend(pro,value);},10)
        }else{
            setTimeout(function(){alert("操作成功!")},10);
            window.location.href="/manage/web_before_data_ById?project_id=${param.project_id }";
        }
    }

	function fileToList(Cname){   //遍历div  把file改为list
		var List=[];
		var order = 1;
		$('.'+Cname+" .fileDiv").each(function (i,item) {
            var fileObj={};
            fileObj.name= $(item).data('name');
            fileObj.url = $(item).find('a').attr('href');
            fileObj.type = $(item).find('a').attr('type');
            fileObj.order = order++;
            List.push(fileObj);
        });
        return List;
	}
	
	
	function addFile(obj,Cname){  //上传文件到七牛  
			var timestamp = (new Date()).getTime(); //时间戳
			var formData = new FormData();
	        var file_obj = obj.files[0];
	        if(file_obj==null){  //没有选择文件 跳出方法
	        	return false
	        }
	        formData.append("token","${token}");  //token
	        formData.append("key",timestamp+file_obj.name);  //name
	        formData.append('file',file_obj);   //文件
	        var fileName=file_obj.name;
	        var strtype = fileName.substring(fileName.lastIndexOf(".")).toLowerCase();//（把路径中的所有字母全部转换为小写）
	        if(strtype==null||strtype==""){
    	            alert("不支持的文件类型!请重新选择!");
                    return false;
                }
		    $.ajax({
		        url:'http://up-z1.qiniu.com/',
		        secureuri:false,
		        type: 'POST',
	            data: formData,
		        dataType: 'json',//返回数据的类型
		        processData:false,  //
                contentType: false, 
		        success: function (data) {//上传成功
		        	$('#'+Cname).val('');
		        	var url="${QiniuUrl}"+data.key;
		        	var str ='';
		        	if(file_obj.type.indexOf("image")!=-1){ //包含 是图片
		        		   str +='<div class="fileDiv" data-name="'+file_obj.name+'">'+
		        		   '<a href="'+url+'" type="image" target=_blank><img style="width: 70px;height: 70px;" src="'+url+'" /></a>'+
		        		   '<a href="javascript:;" class="remove-file-btn"><img src="/images/gtgx/deleteFile.png" class="deleteFile"/></a></div>'
		        	}else{
		        		str +='<div class="fileDiv" data-name="'+file_obj.name+'">'+
		        		'<a href="'+url+'" type="'+strtype+'" target=_blank>'+file_obj.name+'</a>'+
		        		'<a href="javascript:;" class="remove-file-btn"><img src="/images/gtgx/deleteFile.png" class="deleteFile"/></a></div>'
		        	}
		        	$('.'+Cname+"Span").append(str);
		        }
		    });
	}
	
	function fileType(type){
		var typeList=[
			{suffix:".png,.jpg,.gif,.bmp,.jpeg",type:"image"},
			{suffix:".doc,.docx,.word,.dotx,.dotm,.docm",type:"word"},
			{suffix:".pdf",type:"pdf"},
			{suffix:".ppt,.pptx,.ppsx,.pptm,.ppsx,.potx",type:"ppt"},
			{suffix:".txt",type:"txt"},
			{suffix:".cad",type:"cad"},
			{suffix:".xlsx,.xls,.xlsm,.xlsb,.xlsm,.xlam",type:"excel"}
			];
        var result_type=null;
        for(var i=0;i<typeList.length;i++){
            if(typeList[i].suffix.indexOf(type)!=-1){
                result_type=typeList[i].type;
            }
        }
        return result_type;
	}
</script> 
</body>
</html>
