<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8"></meta>
    <title>问题整改列表</title>
    
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" type="../text/css"
	href="../easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="../easyui/demo.css">
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/colResizable-1.3.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>                 
<script type="text/javascript" src="../js/classes.js"></script>

</head>
  <body>
    <div style="float:left;height: 36px">
    <form action="/supervision/web_abarbeitung_list?pageindex=1" method="post">
		<span class="span_common">工程名称：</span>
    <input type="text" name="name" value="${(page.params.name)!''}" class="input-text lh30" size="20">&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="span_common">工程类型：</span>
     <select name="type_id" class="select"> 
    							<option value=''>全部</option>
                  				<#list page.params.type_data as type_data>
                  				<option value="${(type_data.id)!'' }"  <#if type_data.id == page.params.type_id> selected="selected"</#if> >${type_data.name }</option>
                  				</#list>
     </select>&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="span_common">施工单位：</span>

    <input type="text" name="construction_org" value="${(page.params.construction_org)!''}" class="input-text lh30" size="20">&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="submit" 
		class="submit_common" value="查询">
		</form></div>
	<#if activeAdmin.rid=='3'||activeAdmin.rid=='4'>
	<a href="/supervision/goAddAbarbeitung"><input type="button" name="button"
						 class="add_button" value="新增"></a>
	<#else>
	<a href="#"><input type="input" name="button" disabled="true"
					   class="btn btn82" style="background: white;cursor:default;width: 1px"></a>
  </#if>

  
   <table  border="0" cellpadding="0" cellspacing="0" class="list_table" style="text-align: center;font-size: 4px;">
		<thead>
			<tr>
				<th align="center" class="tableHeader">工程名称</th>
				<th align="center" class="tableHeader">工程类型</th>
				<th align="center" class="tableHeader">施工单位</th>
				<th align="center" class="tableHeader">监理单位</th>
				<th align="center" class="tableHeader">地点</th>
				<th align="center" class="tableHeader">问题描述</th>
				<th align="center" class="tableHeader">状态</th>
				<th align="center" class="tableHeader">创建人</th>
				<th align="center" class="tableHeader">创建时间</th>
				<th align="center" class="tableHeader">操作</th>
			</tr>
			<#list page.data as List>
			
			<tr>
			<td>${List.name }</td>
			<td>${List.type_name}</td>
			<td>${List.construction_org }</td>
			<td>${List.supervising_org}</td>
			<td>${List.location}</td>
			<td>${List.description}</td>
			<#if List.state=='1'>
			<td>进行中</td>
			</#if>
			<#if List.state=='2'>
			<td>已整改</td>
			</#if>
			<#if List.state=='3'>
			<td>未提交</td>
			</#if>
			<td>${List.create_by}</td>
			<td>${List.create_at}</td>
			<td>
				<#if activeAdmin.rid=='3'||activeAdmin.rid=='4'>
					<#if List.state=='3'>
					<button class="button_common"><a href="/supervision/goUpdateAbarbeitung?abarbeitung_id=${List.id }"><span class="button_span_common">编辑</span></a></button>&nbsp;
					</#if>
					<#if List.create_state=='0'>
						<button class="button_common"><a href="/supervision/goAddAbarbeitungReport?abarbeitung_id=${List.id }&project_id=${List.project_id}"><span class="button_span_common">整改</span></a></button>&nbsp;
					<#elseif List.create_state=='1'>
						<button class="button_common"><a href="/supervision/goUpdateAbarbeitungReport?abarbeitung_id=${List.id }&project_id=${List.project_id}&report_id=${List.report_id }"><span class="button_span_common">整改</span></a></button>&nbsp;
					<#else>
						<button class="button_common" style="background-color: buttonface;" disabled="true"><span class="button_span_common">整改</span></button>&nbsp;
					</#if>
			    </#if>

				<button class="button_common"><a href="/supervision/web_abarbeitung_detail?abarbeitung_id=${List.id }"><span class="button_span_common">查看</span></a></button>&nbsp;
			 </td>
			</tr>
			</#list>
		</thead>
	</table>
	
		<div style="margin-top:5px;margin-left:5px" class="pagination">
	<ul>
		<span class="noprint" style="padding:5px;">
		
			<li><a href="/supervision/web_abarbeitung_list?pageindex=1&name=${(page.params.name)!''}&type_id=${(page.params.type_id)!''}&construction_org=${(page.params.construction_org)!''}">[首页]</a></li>&nbsp;
			
			<li><a href="/supervision/web_abarbeitung_list?pageindex=${(page.params.lastpage)!''}&name=${(page.params.name)!''}&type_id=${(page.params.type_id)!''}&construction_org=${(page.params.construction_org)!''}">[上一页]</a></li>&nbsp;
			
			<li><a href="/supervision/web_abarbeitung_list?pageindex=${(page.params.nextpage)!''}&name=${(page.params.name)!''}&type_id=${(page.params.type_id)!''}&construction_org=${(page.params.construction_org)!''}">[下一页]</a></li>&nbsp;

			<li><a href="/supervision/web_abarbeitung_list?pageindex=${page.totalPagecount}&name=${(page.params.name)!''}&type_id=${(page.params.type_id)!''}&construction_org=${(page.params.construction_org)!''}">[末页]</a></li>&nbsp;
				<li style="height:0px;border:0px;background-color:#fff"></li>
				<li><a style="color:red">第${page.pageindex}页，共${page.totalPagecount}页</a></li>
				<li><a style="color:#0072E3">共${page.recordCount}条</a></li>
		</span>
	</ul>
</div>
  </body>
</html>