<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8"></meta>
    
    <title>showFactory</title>
    
	<link rel="stylesheet" href="../css/common.css">
   <link rel="stylesheet" href="../css/main.css">

  </head>
  <body>
    <div id="forms" class="mt10">
        <div class="box">
          
          <div class="box_border">
            <div class="box_top"><b class="pl15">重要施工项详情</b></div>
            <div class="box_center">
               <table class="form_table pt15 pb15" style="width: 650px;" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                  <td class="td_right">工程名称：</td>
                   <td><p>${data.name}</p></td>
                   <td class="td_right">工程类型：</td>
                  <td><p>${data.type_name}</p> </td>
                  </tr>
                 
                
                <tr>
                  <td class="td_right">施工单位：</td>
                  <td class=""> <p>${data.construction_org}</p> </td>
                  <td class="td_right">监理单位：</td>
                  <td class=""><p>${data.supervising_org}</p> </td>
                </tr>
                </table>
                 <hr style= "border:1px dashed #000" width="800px;"/>
                <table class="form_table pt15 pb15" style="width:100%" border="1" cellspacing="0" bordercolor="#F8F2F3" >
                <tbody id="loadmore">
                <tr>
                  <td class="td_right">重要项类型：</td>
                   <td><p>${data.item_Data.type_name}</p> </td>
                 
                  </tr>
                
                <tr>
                  <td class="td_right">证件类型：</td>
                  <td><p>${data.item_Data.credential_name}</p></td>
                  </tr>
               
                 <tr>
                  <td class="td_right">证件拍照:</td>
                  <td>
        		<span class="photoFileSpan">
                  <#list data.item_Data.photo as fileList>
          <div class="fileDiv" data-name="${fileList.name}">
                  <#if fileList.type?index_of("image")!=-1>
		    	 <a href="${fileList.url}" type="${fileList.type}" target=_blank><img style="width: 70px;height: 70px;" src="${fileList.url}" /></a>
				  <#else>
		        <a href="${fileList.url}" type="${fileList.type}" target=_blank>${fileList.name}</a>
                  </#if>
       		</div>
                  </#list>
                  </span>
                  </td>
                </tr>
               
                
                
                <tr>
                  <td class="td_right">重要项施工日期：</td>
                  <td class=""> 
                  <p>${data.item_Data.item_data}</p>
                  </td>
                </tr>


                
                 <tr>
                  <td class="td_right">业主及监理签字批准:</td>
                  <td>
        		<span class="ossaFileSpan">
                  <#list data.item_Data.ossa as fileList>
          <div class="fileDiv" data-name="${fileList.name}">
                  <#if fileList.type?index_of("image")!=-1>
		    	 <a href="${fileList.url}" type="${fileList.type}" target=_blank><img style="width: 70px;height: 70px;" src="${fileList.url}" /></a>
				  <#else>
		        <a href="${fileList.url}" type="${fileList.type}" target=_blank>${fileList.name}</a>
                  </#if>
       		</div>
                  </#list>
                  </span>
                  </td>
                </tr>
                
                <tr>
                  <td class="td_right">收费单据:</td>
                  <td>
        		<span class="chargeFileSpan">
                  <#list data.item_Data.charge as fileList>
          <div class="fileDiv" data-name="${fileList.name}">
                  <#if fileList.type?index_of("image")!=-1>
		    	 <a href="${fileList.url}" type="${fileList.type}" target=_blank><img style="width: 70px;height: 70px;" src="${fileList.url}" /></a>
				  <#else>
		        <a href="${fileList.url}" type="${fileList.type}" target=_blank>${fileList.name}</a>
                  </#if>
       		</div>
                  </#list>
                  </span>
                  </td>
                </tr>
                
                 <tr>
                  <td class="td_right">申请单:</td>
                  <td>
        		<span class="requestFileSpan">
                  <#list data.item_Data.request as fileList>
          <div class="fileDiv" data-name="${fileList.name}">
                  <#if fileList.type?index_of("image")!=-1>
		    	 <a href="${fileList.url}" type="${fileList.type}" target=_blank><img style="width: 70px;height: 70px;" src="${fileList.url}" /></a>
				  <#else>
		        <a href="${fileList.url}" type="${fileList.type}" target=_blank>${fileList.name}</a>
                  </#if>
       		</div>
                  </#list>
                  </span>
                  </td>
                </tr>
                
                 <tr>
                  <td class="td_right">当日施工前:</td>
                  <td>
        		<span class="construction_beforeFileSpan">
                  <#list data.item_Data.construction_before as fileList>
          <div class="fileDiv" data-name="${fileList.name}">
                  <#if fileList.type?index_of("image")!=-1>
		    	 <a href="${fileList.url}" type="${fileList.type}" target=_blank><img style="width: 70px;height: 70px;" src="${fileList.url}" /></a>
				  <#else>
		        <a href="${fileList.url}" type="${fileList.type}" target=_blank>${fileList.name}</a>
                  </#if>
       		</div>
                  </#list>
                  </span>
                  </td>
                </tr>
                
                 <tr>
                  <td class="td_right">当日施工后:</td>
                  <td>
        		<span class="construction_afterFileSpan">
                  <#list data.item_Data.construction_after as fileList>
          <div class="fileDiv" data-name="${fileList.name}">
                  <#if fileList.type?index_of("image")!=-1>
		    	 <a href="${fileList.url}" type="${fileList.type}" target=_blank><img style="width: 70px;height: 70px;" src="${fileList.url}" /></a>
				  <#else>
		        <a href="${fileList.url}" type="${fileList.type}" target=_blank>${fileList.name}</a>
                  </#if>
       		</div>
                  </#list>
                  </span>
                  </td>
                </tr>
                
                 <tr>
                  <td class="td_right">特殊处理证明:</td>
                  <td>
        		<span class="special_dealFileSpan">
                  <#list data.item_Data.special_deal as fileList>
          <div class="fileDiv" data-name="${fileList.name}">
                  <#if fileList.type?index_of("image")!=-1>
		    	 <a href="${fileList.url}" type="${fileList.type}" target=_blank><img style="width: 70px;height: 70px;" src="${fileList.url}" /></a>
				  <#else>
		        <a href="${fileList.url}" type="${fileList.type}" target=_blank>${fileList.name}</a>
                  </#if>
       		</div>
                  </#list>
                  </span>
                  </td>
                </tr>
                
                  <tr>
                <td class="td_right">创建人：</td>
                <td><p>${data.item_Data.create_by}</p>
                </td>
                </tr>
                  <tr>
                <td class="td_right">创建时间：</td>
                <td><p>${data.item_Data.create_at}</p>
                </td>
                </tr>
                </tbody>
                
                
                <#if data.item_Data.is_and_more=='1'>
                <tr id="loadtr">
                <td colspan="2"><span style="font-size: 16px;padding-left: 200px;"><a href="javascript:;"  onclick="load_more()">加载更多</a></span></td>
                </tr>
                </#if>
                
                 <tr>
                   <td class="td_right">&nbsp;</td>
                   <td class="">
                   <a href="javascript:history.go(-1)">
                     <input type="button" id="back" class="btn btn82 btn_kong" value="返回"> 
                   </a>
                   </td>
                 </tr>
               </table>
            </div>
          </div>
          
        </div>
     </div>
     
    <script type="text/javascript" src="../js/jquery.min.js"></script>
   <script type="text/javascript" src="../js/colResizable-1.3.min.js"></script>
   <script type="text/javascript" src="../js/common.js"></script>
   <script type="text/javascript" src="../js/jquery.form.js"></script> 
	<script type="text/javascript">  
	var project_id=${data.project_id};
	var item_id=${data.item_Data.id};
	function load_more(){
		$.ajax({
	        url:'/supervision/web_load_more_item',
	        type: 'POST',
            data: {project_id:project_id,item_id:item_id},
	        dataType: 'json',//返回数据的类型
	        success: function (data) {//成功
	        	item_id=data.id;
	        
	        	var load="<tr><td colspan='2'><hr width='500px;'/></td></tr>"+
	        	"<tr><td class='td_right'>重要项类型：</td><td><p>"+data.type_name+"</p></td><tr>"+
	        	"<tr><td class='td_right'>证件类型：</td><td><p>"+data.credential_name+"</p></td><tr>"+
	        	"<tr><td class='td_right'>证件拍照：</td><td>";
	        	load+=eachFile(data.photo);
	        	load+="<tr><td class='td_right'>重要项施工日期：</td><td><p>"+data.item_data+"</p></td><tr>";
	        	load+="<tr><td class='td_right'>业主及监理签字批准：</td><td>";
	        	load+=eachFile(data.ossa);
	        	load+="<tr><td class='td_right'>收费单据：</td><td>";
	        	load+=eachFile(data.charge);
	        	load+="<tr><td class='td_right'>申请单：</td><td>";
	        	load+=eachFile(data.request);
	        	load+="<tr><td class='td_right'>当日施工前：</td><td>";
	        	load+=eachFile(data.construction_before);
	        	load+="<tr><td class='td_right'>当日施工后：</td><td>";
	        	load+=eachFile(data.construction_after);
	        	load+="<tr><td class='td_right'>特殊处理证明：</td><td>";
	        	load+=eachFile(data.special_deal);
	        	load+="<tr><td class='td_right'>创建人：</td><td><p>"+data.create_by+"</p></td><tr>";
	        	load+="<tr><td class='td_right'>创建时间：</td><td><p>"+data.create_at+"</p></td><tr>";
	        	
	        	if (data.is_and_more == 0){
	        	$("#loadtr").hide();
			    }
	        	$("#loadmore").append(load);
	        }
	    });
  	}
	
	
	function eachFile(fileList){
		var load="";
		$.each(fileList,function(index,item){
			if(item.type.indexOf("image") != -1){
				load+="<a href='"+item.url+"' target=_blank><img style='width: 70px;height: 70px;' src='"+item.url+"'/></a></td>";
			}else{
				load+="<a href='"+item.url+"' target=_blank>"+item.name+"</a></td>";
			}
			});
		return load;
	}
	
	
	
	</script> 
  </body>
</html>
