<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8"></meta>
    
    <title>addFactory</title>
    
	<link rel="stylesheet" href="../css/common.css">
   <link rel="stylesheet" href="../css/main.css">
  <style type="text/css">
  .report-left{
  width: 250px;
  text-align: center;
  }
  .report-right{
  text-align: left;
  }
  
  </style>
    <script async>
        function fp_ready(){
            //Regular flatpickr
            document.getElementById("flatpickr-tryme").flatpickr();
        }
    </script>
    <script async src="../dist/flatpickr.js" onload="fp_ready()"></script>
    <script async id="locale_script"></script>

    <link rel="stylesheet" id=cal_style type="text/css" href="../dist/flatpickr.min.css">
    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="forms" class="mt10">
        <div class="box">
          <div class="box_border">
            <div class="box_top"><b class="pl15">施工监护上报历史信息</b></div>
            <div class="box_center">
               <table class="form_table pt15 pb15" style="width: 1000px;" >
                  <tr>
                  <td class="td_right">工程名称：</td>
                   <td><p>${data.project_name}</p></td>
                   <td class="td_right">工程类型：</td>
                  <td><p>${data.type_name}</p></td>
                  <td class="td_right">施工位置：</td>
                  <td><p>${data.location}</p></td>
                  </tr>
                 <tr>
                   <td class="td_right">施工单位：</td>
                  <td><p>${data.construction_org}</p></td>
                   <td class="td_right">监理单位：</td>
                  <td><p>${data.supervising_org}</p></td>
                  <td class="td_right">监理时间要求：</td>
                  <td class=""> 
                  				<#if data.type='1'>
                  				<p>每班${data.count }次</p>
                  				<#else>
                  				<p>每${data.count }小时</p>
                  				</#if>
                  </td>
                  </tr>
                <tr>
                  <td class="td_right">启动日期：</td>
                  <td><p>${data.begin_time}</p></td>
                  <td class="td_right" >监理部门：</td>
                 <td><p>${data.dname}</p></td>
                </tr>
                   <tr>
                       <td class="td_right">选择监护时间：</td>
                       <td><input id="flatpickr-tryme" placeholder="监护时间" type='text' class="input-text lh30" name="reportTime"  autocomplete="off"/>
                       <input type="submit" name="button" class="btn btn82 btn_search" onclick="search()" value="搜索"></td>
                   </tr>
               </table>
            </div>
             <div>
             <hr style= "border:1px dashed #000" width="1000px;"/>
                <table class="form_table pt15 pb15" style="width: 100%" border="1" cellspacing="0" bordercolor="#F8F2F3">
                <tr><td colspan="2"><span style="font-size: 16px;font-weight:700;padding-left: 200px;">监护详情</span></td></tr>
                <tbody id="loadmore">
                <tr>
                   <td><p style="font-size: 14px;font-weight:600;text-align: center;">名称</p></td>
                   <td style="text-align: left;"><p style="font-size: 14px;font-weight:600">内容</p></td>
                </tr>
                 
                 <tr>
                   <td class="report-left"><p>${data.create_at}</p></td>
                   <td class="report-right"><p>${data.dname} </p></td>
                </tr>
                <#list data.report_data as report_data>
                <tr>
                <td class="report-left">${report_data.item_name}</td>
                <td class="report-right">
                    <#if report_data.is_display==1>
                            <#if report_data.content?size==0>
                            <p>无</p>
                            <#else>
                            <#list report_data.content as content>
                            <#if content.type?index_of("image")!=-1>
                            <a href="${content.url}" type="${content.type}" target=_blank><img style="width: 70px;height: 70px;" src="${content.url}" /></a>
                            <#elseif content.type?index_of("video")!=-1>
                            <a href="${content.url}"  target=_blank>点击查看视频</a>
                            <#else>
                            <a href="${content.url}" target=_blank>${content.name}</a>
                            </#if>
                             </#list>
                          </#if>
                    <#else>
                                <#list report_data.content as content>
                                <#if content.type?index_of("image")!=-1>
                                <a href="${content.url}" type="${content.type}" target=_blank><img style="width: 70px;height: 70px;" src="${content.url}" /></a>
                                <#elseif content.type?index_of("video")!=-1>
                                <a href="${content.url}"  target=_blank>点击查看视频</a>
                                <#else>
                                <a href="${content.url}" target=_blank>${content.name}</a>
                            </#if>
                            </#list>
                    </#if>
                </td>
                </tr>
                </#list>
                   <!-- <#if activeAdmin.rid=='3'||activeAdmin.rid=='4'>
                    <#if activeAdmin.department_id==data.supervision.department_id>
                 <tr>
                   <td colspan="2"><span style="font-size: 16px;padding-left: 150px;"><a a href="javascript:;"  onclick="supplementReport('${data.supervision.supervision_id }','${data.supervision_data.create_at}')">补录当日的一条监护记录</a>
                   </span></td>
                 </tr>
                     </#if>
                    </#if>-->
                </tbody>
                </table>
              
               </div>
          </div>
        </div>
     </div>
      <script type="text/javascript" src="../js/jquery.min.js"></script>
   <script type="text/javascript" src="../js/colResizable-1.3.min.js"></script>
   <script type="text/javascript" src="../js/common.js"></script>
   <script type="text/javascript" src="../js/jquery.form.js"></script> 
	<script type="text/javascript">  
	var supervision_id=${data.supervision_id};
	var department_id1=${data.department_id};
	var role_id=${activeAdmin.rid};
	var department_id2=${activeAdmin.department_id};
	var supervision_id=${data.supervision_id};
  	function search(){
        var create_at=document.getElementById("flatpickr-tryme").value;
        if(create_at==""){
            alert("请选择监护时间!");
            return false;
        }
		$.ajax({
	        url:'/supervision/web_load_more_report',
	        type: 'POST',
            data: {supervision_id:supervision_id,create_at:create_at},
	        dataType: 'json',//返回数据的类型
	        success: function (data) {//成功
	            if(data.is_true==0){
                    alert("请选择正确的监护时间! 时间阶段:监护开始时间--当天时间!");
                    return false;
                }
	        	var load="<tr><td class='report-left'><p>"+data.create_at+"</p></td>"+
                "<td class='report-right'><p>"+data.department+"</p></td></tr>"

            		$.each(data.report_data,function(index,item){
            			load+="<tr><td class='report-left'>"+item.item_name+"</td><td class=report-right>";
                               if(item.is_display==1&&item.content.length==0){
                                   load+="<p>无</p>";
                               }else{
                                   $.each(item.content,function(index2,item2){
                                       if(item2.type.indexOf("image")!=-1){
                                           load+="<a href='" + item2.url +"'  target=_blank><img style='width: 70px;height: 70px;' src='"+item2.url+"'/></a>";
                                       }else if(item2.type.indexOf("video")!=-1){
                                           load+="<a href='"+ item2.url +"'  target=_blank>点击查看视频</a>";
                                       }else{
                                           load+=" <a href='"+ item2.url +"'  target=_blank>"+item2.name+"</a>";
                                       }
                                   });
                               }

            			load+="</td></tr>";
            		});
	        	/*if(role_id==3||role_id==4){
                    if(department_id1==department_id2){
                        load+="<tr>" +
                            "<td colspan=\"2\"><span style=\"font-size: 16px;padding-left: 150px;\"><a a href=\"javascript:;\"  onclick=\"supplementReport(supervision_id,create_at)\">补录当日的一条监护记录</a>" +
                            "</span></td></tr>";
                    }
                }*/
                $("#loadmore").html("");
	        	$("#loadmore").append(load);
	        }
	    });
  	}

  	function supplementReport(supervision_id){
       var  create_at=document.getElementById("flatpickr-tryme").value;
  	    if(create_at==""){
  	        alert("请选择补录的监护时间!");
  	        return false;
        }
        $.ajax({
            url:'/supervision/web_check_report',
            type: 'POST',
            data: {supervision_id:supervision_id,create_at:create_at},
            dataType: 'text',
            success: function (data) {
               if(data=="0"){  //完成了
                   alert("当日监护已经完成,不用补录!");
               }else if(data=="-1") {
                   alert("请选择正确的时间补录! 正确时间范围:监护开启日期至今日");
               }else{
                       if(confirm("当日缺卡"+data+"次,需要补录,确定补录吗?")){
                           window.location.href="/supervision/goSupplementReport?supervision_id="+supervision_id+"&create_at="+create_at;
                       }
                   }
               }
        });
  	}



	</script>
  </body>
</html>
