<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8"></meta>
    <title>故障台账</title>
    
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" type="../text/css"
	href="../easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="../easyui/demo.css">
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/colResizable-1.3.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/classes.js"></script>

<!-- 日期选择器 -->
	
<script async>
	function fp_ready(){
	//Regular flatpickr
	document.getElementById("flatpickr-tryme").flatpickr();
	}
	</script>
	<script async src="../dist/flatpickr.js" onload="fp_ready()"></script>
	<script async id="locale_script"></script>

	<link rel="stylesheet" id=cal_style type="text/css" href="../dist/flatpickr.min.css">
	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
	
	
	

</head>
  <body>
    <div style="float:left;height: 36px">
    <form action="/gtgx/getAllMalfunctionReport" method="post" name="searchform">
	<input type='hidden' name='pageindex' value='1'/>
		<span class="span_common">部门：</span>
     <select name="department_id" class="select"> 
    							<option value="">全部</option>
                  				<#list page.params.departmentList as department_data>
                  				<option value="${(department_data.id)!'' }"  <#if department_data.id == page.params.department_id> selected="selected"</#if> >${department_data.dname }</option>
                  				</#list>
     </select>&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="span_common">故障类型：</span>
     <select name="type_id" class="select"> 
    							<option value="">全部</option>
                  				<#list page.params.typeList as type_data>
                  				<option value="${(type_data.id)!'' }"  <#if type_data.id == page.params.type_id> selected="selected"</#if> >${type_data.type_name }</option>
                  				</#list>
     </select>&nbsp;&nbsp;&nbsp;&nbsp;
   
   
   
  	 <span class="span_common">上报时间：</span>
  	 	<input input id="flatpickr-tryme" placeholder="上报时间" type='text' class="input-text lh30" name="reportTime" value="${page.params.reportTime}" autocomplete="off" size="10"/>&nbsp;&nbsp;&nbsp;&nbsp;
     
     <input type="submit" 
		class="submit_common" value="查询">
		</form></div>
	
  <a href="/gtgx/goAddMalfunctionReport"><input type="button" name="button"
		class="add_button" value="新增"></a>
		
   <table border="0" cellpadding="0" cellspacing="0" class="list_table" style="text-align: center;">
		<thead>
			<tr>
				<th align="center" class="tableHeader">部门</th>
				<th align="center" class="tableHeader">地点</th>
				<th align="center" class="tableHeader">问题</th>
				<th align="center" class="tableHeader">类别</th>
				<th align="center" class="tableHeader">文字描述</th>
				<th align="center" class="tableHeader">上报人</th>
				<th align="center" class="tableHeader">上报时间</th>
				<th align="center" class="tableHeader">操作</th>
			</tr>
			<#list page.data as MalfunctionList>
			<tr>
			<td>${MalfunctionList.dname }</td>
			<td>${MalfunctionList.location }</td>
			<td>${MalfunctionList.question }</td>
			<td>${MalfunctionList.type_name }</td>
			<td>
			<#list MalfunctionList.textList as textList>
			${textList.content}<br/>
			</#list>
			</td>
			<td>${MalfunctionList.user_name }</td>
			<td>${MalfunctionList.create_at }</td>
			<td>
				<button class="button_common"><a href="/gtgx/getMalfunctionDetail?id=${MalfunctionList.malfunction_id }"><span class="button_span_common">详情</span></a></button>
			 </td>
			</tr>
			</#list>
		</thead>
	</table>
	
		<div style="margin-top:5px;margin-left:5px" class="pagination">
	<ul>
		<span class="noprint" style="padding:5px;">
		
			<li><a href="/gtgx/getAllMalfunctionReport?pageindex=1&type_id=${page.params.type}&department_id=${page.params.department_id}&reportTime=${page.params.reportTime}" >[首页]</a></li>&nbsp;
			
			<li><a href="/gtgx/getAllMalfunctionReport?pageindex=${(page.params.lastpage)!''}&type_id=${page.params.type_id}&department_id=${page.params.department_id}&reportTime=${page.params.reportTime}">[上一页]</a></li>&nbsp;
			
			<li><a href="/gtgx/getAllMalfunctionReport?pageindex=${(page.params.nextpage)!''}&type_id=${page.params.type_id}&department_id=${page.params.department_id}&reportTime=${page.params.reportTime}">[下一页]</a></li>&nbsp;

			<li><a href="/gtgx/getAllMalfunctionReport?pageindex=${page.totalPagecount}&type_id=${page.params.type_id}&department_id=${page.params.department_id}&reportTime=${page.params.reportTime}">[末页]</a></li>&nbsp;
				<li style="height:0px;border:0px;background-color:#fff"></li>
				<li><a style="color:red">第${page.pageindex}页，共${page.totalPagecount}页</a></li>
				<li><a style="color:#0072E3">共${page.recordCount}条</a></li>
		</span>
	</ul>
</div>
</div> 
		
  </body>
</html>