<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8"></meta>
    
    <title>addFactory</title>
    
	<link rel="stylesheet" href="../css/common.css">
   <link rel="stylesheet" href="../css/main.css">
  
  </head>
  <body>
    <div id="forms" class="mt10">
        <div class="box">
          <div class="box_border">
            <div class="box_top"><b class="pl15">用户信息管理</b></div>
            <div class="box_center">
              <form action="/gtgx/insertOrUpdateUser" class="jqtransform" method="post" name="userform" id="userform" enctype="multipart/form-data">
               <table class="form_table pt15 pb15" style="width:100%" border="1" cellspacing="0" bordercolor="#F8F2F3">
                  <tr>
                  <td class="td_right">工号：</td>
                  <td class=""> 
                  <input type="text" name="job_number" id="addjob_number"  class="input-text lh30" size="40">&nbsp;&nbsp;*
                  <input  type="hidden"  name="portrait" id="portrait" value="" class="input-text lh30" size="40">
                  <input  type="hidden"  name="is_delete" id="is_delete" value="2" class="input-text lh30" size="40">
                  </td>
                  </tr>
                 <tr>
                  <td class="td_right">头像：</td>
                   <td>
                  <span class="portraitFileSpan">
                  
                   </span>
                   <input type="file" id="portraitFile" onchange="addFile(this,'portraitFile')"  class="input-text lh30" >
                  </td>
                </tr>
                  	<tr>
                  <td class="td_right">姓名：</td>
                  <td><input type="text" name="user_name"  class="input-text lh30" size="40">
                  &nbsp;*<span style="color: red;">   <!--  2-20位,支持中文、英文（大小写）、部分特殊符号（-和空格） --></span>
                  </td>
                </tr>
                
                 <tr>
                  <td class="td_right">登录名：</td>
                  <td class=""> 
                   <input type="text" name="login_name" id="addlogin_name" class="input-text lh30" size="40">
					&nbsp;* <span style="color: red;">用于用户登录web端管理系统         <!--5-30位字母数字组合支持特殊符号‘@’,'.','_'  --></span>
                  </td>
                </tr>
                <tr>
                  <td class="td_right">密码：</td>
                  <td class=""> 
                    <input type="text" name="password" class="input-text lh30" size="40">
                    &nbsp;*  <span style="color: red;">用于用户登录               <!-- 密码6-18位数字小写字母组合 --></span>
                  </td>
                </tr>
                <tr>
                  <td class="td_right">确认密码：</td>
                  <td class=""> 
                    <input type="text" name="password2" class="input-text lh30" size="40">&nbsp;&nbsp;*
                  </td>
                </tr>
                <tr>
                  <td class="td_right">邮箱：</td>
                  <td class=""> 
                    <input type="text" name="email"  class="input-text lh30" size="40">
                  </td>
                </tr>
                <tr>
                  <td class="td_right">电话：</td>
                  <td class=""> 
                    <input type="text" name="phone"  class="input-text lh30" size="40">
                  </td>
                </tr>
                <tr>
                  <td class="td_right">手机：</td>
                  <td class=""> 
                    <input type="text" id="addcellphone" name="cellphone"  class="input-text lh30" size="40">&nbsp;&nbsp;* <span style="color: red;">请输入11位手机号，用于app端登录</span>
                  </td>
                </tr>
                  <tr>
                  <td class="td_right">是否允许登录：</td><td><select name="allow_login" class="select">
                   				<option value=''>&nbsp;&nbsp;&nbsp;&nbsp;请选择&nbsp;&nbsp;&nbsp;&nbsp;</option>
                  				<option value="1">&nbsp;&nbsp;&nbsp;&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;</option> 
                  				<option value="2">&nbsp;&nbsp;&nbsp;&nbsp;否&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        		</select>
                        		&nbsp;&nbsp;* <span style="color: red;">“是”代表此账号允许登录web管理系统，“否”则表示此账号不允许登录</span>
                        		</td>
                </tr>
                
                <tr>
                  <td class="td_right">用户角色：</td><td><select name="role_id" class="select" id="role" > 
                  				<option value=''>&nbsp;&nbsp;&nbsp;&nbsp;请选择&nbsp;&nbsp;&nbsp;&nbsp;</option> 
                  				<#list roleList as roleList>
                  				<option value="${(roleList.id)!'' }">&nbsp;&nbsp;&nbsp;&nbsp;${roleList.name }&nbsp;&nbsp;&nbsp;&nbsp;</option> 
                  				</#list>
                        		</select>
                        		&nbsp;*
                        		</td>
                </tr>
                
                <tr id="companyTr">
                  <td class="td_right">所属公司：</td><td><select name="company_id" class="select" id="company" onchange="change_company();"> 
                  				<option value=''>&nbsp;&nbsp;&nbsp;&nbsp;请选择&nbsp;&nbsp;&nbsp;&nbsp;</option> 
                  				<#list companyList as companyList>
                  				<option value="${(companyList.id)!'' }">&nbsp;&nbsp;&nbsp;&nbsp;${companyList.cname }&nbsp;&nbsp;&nbsp;&nbsp;</option> 
                  				</#list>
                        		</select>
                        		*
                        		</td>
                </tr>
                
                 <tr id="departmentTr">
                  <td class="td_right">所属部门：</td><td><select name="department_id" id="department" class="select" onchange="change_department();"> 
                  				<option value=''>&nbsp;&nbsp;&nbsp;&nbsp;请选择&nbsp;&nbsp;&nbsp;&nbsp;</option> 
                        		</select>
                        		*<span style="color: red;">公司领导选填</span>
                        		</td>
                </tr>
                
                
                <tr id="groupTr">
                  <td class="td_right">所属工作组：</td><td><select name="group_id" class="select" id="group"> 
                  				 <option value=''>&nbsp;&nbsp;&nbsp;&nbsp;请选择&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        		</select>
                        		*<span style="color: red;">部门领导选填</span>
                        		</td>
                </tr>
                
                 
                 <tr>
                   <td class="td_right">&nbsp;</td>
                   <td class="">
                     <input type="button" id="save" class="btn btn82 btn_save2" value="保存"> 
                   </td>
                 </tr>
               </table>
               </form>
            </div>
          </div>
        </div>
     </div>
      <script type="text/javascript" src="../js/jquery.min.js"></script>
   <script type="text/javascript" src="../js/colResizable-1.3.min.js"></script>
   <script type="text/javascript" src="../js/common.js"></script>
   <script type="text/javascript" src="../js/jquery.form.js"></script> 
	<script type="text/javascript">  
	function addFile(obj,Cname){  //上传文件到七牛  
		var timestamp = (new Date()).getTime(); //时间戳
		var formData = new FormData();
        var file_obj = obj.files[0];
        if(file_obj==null){  //没有选择文件 跳出方法
        	return false;
        }
        var fileName=file_obj.name;
        formData.append("token","${token}");  //token
        formData.append("key","${prefix}"+timestamp+fileName);  //name
        formData.append('file',file_obj);   //文件
	    $.ajax({
	        url:'http://up-z1.qiniu.com/',
	        secureuri:false,
	        type: 'POST',
            data: formData,
	        dataType: 'json',//返回数据的类型
	        processData:false,  //
            contentType: false, 
	        success: function (data) {//上传成功
	        	var url="${QiniuUrl}"+data.key;
	        	$('.'+Cname+"Span").empty();
	        	$("#portrait").val(url);
	        	var str ='';
	        		str +='<div class="fileDiv" data-name="'+file_obj.name+'">'+
	        		'<img alt="" src="'+url+'" style="width: 140px;height: 200px">'+
	        		'<a href="javascript:;" class="remove-file-btn"><img src="/images/gtgx/deleteFile.png" class="deleteFile"/></a></div>'
	        	$('.'+Cname+"Span").append(str);
	        	
	        }
	    });
}
	
	function change_company(){
		$("#department").html("<option value=''>&nbsp;&nbsp;&nbsp;&nbsp;请选择&nbsp;&nbsp;&nbsp;&nbsp;</option>");
		var sel = document.getElementById("company");
		var selected_val = sel.options[sel.selectedIndex].value;
		if(selected_val!=""){
			$.ajax({
				url:"/gtgx/departmentByCompany",
				data: {company_id:selected_val},
				type:"post",
				dataType:"json",
				success:function(data){
					var departmentList='';
					for(i=0;i<data.length;i++){
						departmentList+="<option value='"+data[i].id+"' >&nbsp;&nbsp;&nbsp;&nbsp;"+data[i].dname+"&nbsp;&nbsp;&nbsp;&nbsp;</option>"
						}
					$("#department").append(departmentList);
				}
		});
		}
	}
	function change_department(){
		$("#group").html("<option value=''>&nbsp;&nbsp;&nbsp;&nbsp;请选择&nbsp;&nbsp;&nbsp;&nbsp;</option>");
		var sel = document.getElementById("department");
		var selected_val = sel.options[sel.selectedIndex].value;
		if(selected_val!=""){
			$.ajax({
				url:"/gtgx/groupByDepartment",
				data: {department_id:selected_val},
				type:"post",
				dataType:"json",
				success:function(data){
					var groupList='';
					for(i=0;i<data.length;i++){
						groupList+="<option value='"+data[i].id+"' >&nbsp;&nbsp;&nbsp;&nbsp;"+data[i].name+"&nbsp;&nbsp;&nbsp;&nbsp;</option>"
						}
					$("#group").append(groupList);
				}
		});
		}
	}
	
	
	
	
	
	
	
	$(function(){      
		//文件删除按钮
        $(document).on('click','.remove-file-btn',function () {
        	if(confirm("确认删除么？")){
        		$(this).closest('.fileDiv').remove();
        	}
        });
        
        
		$("input").focus(function(){
			  $("input").css("background-color","");
			  $(this).css("background-color","#FFFFCC");
			});
		
		
        $("#addjob_number").blur(function(){  //判断工号是否重复
   		var a=$("#addjob_number").val();
   		if(a==null||a==""){
   		
  	 	}else{
  	 		$.ajax({
			url:"/gtgx/checkJob_number",
			data: {addjob_number:a},
			type:"post",
			dataType:"text",
			success:function(e){
			if(e=="1"){
				alert("工号不能重复，请重新输入");
				$("#addjob_number").val("");
			}
			}
	});
	}
   	});
        
        
        $("#addcellphone").blur(function(){ //判断手机号是否重复
       		var a=$("#addcellphone").val();
       		if(a==null||a==""){
       		
      	 	}else{
      	 		$.ajax({
    			url:"/gtgx/checkCellphone",
    			data: {addcellphone:a},
    			type:"post",
    			dataType:"text",
    			success:function(e){
    			if(e=="1"){
    				alert("手机号不能重复，请重新输入");
    				$("#addcellphone").val("");
    			}
    			}
    	});
    	}
       	});
        
        
        $("#addlogin_name").blur(function(){  //判断登录名是否重复
       		var a=$("#addlogin_name").val();
       		if(a==null||a==""){
      	 	}else{
      	 		$.ajax({
    			url:"/gtgx/checkLogin_name",
    			data: {addlogin_name:a},
    			type:"post",
    			dataType:"text",
    			success:function(e){
    			if(e=="1"){
    				alert("登录名不能重复，请重新输入");
    				$("#addlogin_name").val("");
    			}
    			}
    	});
    	}
       	});
        
        
        
        $("#save").click(function(){
        	if(userform.job_number.value==''){
        		alert("工号不能为空");
        		return;
        	}
        	if(userform.user_name.value==''){
        		alert("姓名不能为空");
        		return;
        	}
        	if(userform.login_name.value==''){
        		alert("登录名不能为空");
        		return;
        	}
        	
        	if(userform.password.value==''){
        		alert("密码不能为空");
        		return;
        	}
        	
        	
        	if(userform.password2.value!=userform.password.value){
        		alert("两次密码输入不一样，请检查");
        		return;
        	}
        	
        	
        	if(userform.cellphone.value==''){
        		alert("手机号不能为空");
        		return;
        	}
        	var cellphoneret =/^1[3456789]\d{9}$/;       //手机格式
        	//var cellphoneret = /^[0-9]{11}$/  //11位手机号
        	if(cellphoneret.test(userform.cellphone.value)){
        	}else{
        		alert("请填写正确的手机号格式");
        		return;
        	}
        	if(userform.allow_login.value==''){
        		alert("请选择是否允许登录");
        		return;
        	}
        	
        	if($("#role").val()==''){
        		alert("请选择角色");
        		return;
        	}
        	
        	if($("#company").val()==''){
        		alert("请选择公司");
        		return;
        	}
        	
        	
        	var sel = document.getElementById("role");
    		var selected_val = sel.options[sel.selectedIndex].value;
    		if(selected_val=="1"||selected_val=="2"){
    			
    		}else if(selected_val=="3"){
    			
    			if($("#department").val()==''){
            		alert("请选择部门");
            		return;
            	}
    			
    			
    		}else{
    			
    			if($("#department").val()==''){
            		alert("请选择部门");
            		return;
            	}
    			
    		}
    		
        	
        	var url="";
        	$(".fileDiv").each(function (i,item) {
        		url = $(item).find('img').attr('src');
            })
            
            
        	$("#userform").ajaxSubmit({
    			url:"/gtgx/insertOrUpdateUser",
    			type:"post",
    			dataType:"text",
    			success:function(e){
    				alert("增加成功");
    				window.location.href="/gtgx/getAllUser?pageindex=1";
    			}
    	});
       	});
   	 	});
  	
	</script> 
  </body>
</html>
