<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
    <title>智运行后台登录</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Custom Theme files -->
<link href="../css/login.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script> 
<script type="text/javascript" src="../js/jquery.form.js"></script> 
 <script src="../js/md5.js" type="text/javascript"></script>
  <script type="text/javascript">
//判断当前窗口是否有顶级窗口，如果有就让当前的窗口的地址栏发生变化，    
//这样就可以让登陆窗口显示在整个窗口了    
function loadTopWindow(){    
    if (window.top!=null && window.top.document.URL!=document.URL){    
        window.top.location= document.URL;     
    }    
}    
        $(function(){
        	 
        	 $("body").keydown(function() {
                 if (event.keyCode == "13") {//keyCode=13是回车键
                     $('#denglu').click();
                 }
             });
        	
        	
        $("#denglu").click(function(){
   		var a=$("#name2").val();
   		var b=$("#pwd2").val();
   		var c=hex_md5(b);
   		if(a==null||a==""||b==null||b==""){
   		alert("用户名和密码不能为空不能为空，请检查您的操作！");
  	 	}else{$("#form1").ajaxSubmit({
			url:"/session/checkUser",
			data:{      
				login_name:a,  
				password:c
	        },  
			type:"post",
			dataType:"text",
			success:function(e){
			if(e=="success"){
				window.location.href="/gtgx/index";
			}else{
			alert("密码或者用户名错误，请重新输入");
			$("#form1")[0].reset();
			}
			}
	});
	}
   	});
        
   	 	});
		</script> 
</head>
<body onload="loadTopWindow()">
<!--header start here-->
<div class="login-form">
			<div class="top-login">
				<span><img src="../images/group.png" alt=""/></span>
			</div>
			<h1>智运行后台管理系统</h1>
			<div class="login-top">
			<form action="" method="post" id="form1">
				<div class="login-ic">
					<i ></i>
					<input type="text" id="name2"  value="管理员账号" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Admin name';}"/>
					<div class="clear"> </div>
				</div>
				<div class="login-ic">
					<i class="icon"></i>
					<input type="password"  id="pwd2"  value="密码" autocomplete='off' onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'password';}"/>
					<div class="clear"> </div>
				</div>
			
				<div class="log-bwn">
					<input type="button"  value="Login" id="denglu" class="but" style="font-size: 15px;font-weight: 700;color: #fff;padding: 13px 0;background: #ff3366;
 display: inline-block;width: 100%;outline:none;border:2px solid #ff3366;cursor:pointer;text-transform:uppercase;">
				</div>
				</form>
			</div>
			<p class="copy">© 2019   <a href="#" target="_blank">智运行</a></p>
</div>		
<!--header start here-->
</body>
</html>
